html, body, div, h1, p {
    margin: 0;
    padding: 0;
  }

body {
    font-family: var(--main-font);
  }

  .title {
    padding: 8px 0;
    text-align: center;
    color: white;
    font-size: 26px;
    background-color: var(--accent-color);
  }

  .placeholder {
    margin-top: 20px;
    text-align: center;
  }

  .hidden {
    display: none;
  }